<?xml version='1.0' encoding='utf-8'?>
<widget id="com.medianusamandiri.LightPOS" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MediaPOS</name>
    <description>
        Aplikasi POS untuk resto
    </description>
    <author email="medianusamandiri@gmail.com" href="http://medianusamandiri.com">
        PT. Media Nusa Mandiri
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="logoM.png" />
        <preference name="android-minSdkVersion" value="26" />
        <preference name="android-targetSdkVersion" value="26" />
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:allowBackup="false" />
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="cordova-plugin-datecs-printer" spec="^0.9.0" />
    <plugin name="cordova-plugin-nativestorage" spec="^2.3.2" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-android-support-gradle-release" spec="^2.0.1">
        <variable name="ANDROID_SUPPORT_VERSION" value="26.1.0" />
    </plugin>
    <plugin name="cordova-plugin-admobpro" spec="^2.37.2">
        <variable name="PLAY_SERVICES_VERSION" value="16.0.0" />
    </plugin>
    <plugin name="cordova-plugin-app-version" spec="^0.1.9" />
    <plugin name="cordova-sqlite-storage" spec="^3.2.1" />
    <engine name="android" spec="^7.1.4" />
    <engine name="browser" spec="^5.0.4" />
</widget>
