<?xml version='1.0' encoding='utf-8'?>
<widget id="com.medianusamandiri.mediapos" version="1.3.7" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MediaPOS</name>
    <description>
        Aplikasi POS
    </description>
    <author email="medianusamandiri@gmail.com" href="http://medianusamandiri.com">
        PT. Media Nusa Mandiri
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="res/icon/android/mipmap-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="res/icon/android/mipmap-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="res/icon/android/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="res/icon/android/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/icon/android/mipmap-xxxhdpi/ic_launcher.png" />
        <splash density="ldpi" src="res/screen/android/mediapos-ldpi-portrait.png" />
        <splash density="mdpi" src="res/screen/android/mediapos-mdpi-portrait.png" />
        <splash density="hdpi" src="res/screen/android/mediapos-hdpi-portrait.png" />
        <splash density="xhdpi" src="res/screen/android/mediapos-xhdpi-portrait.png" />
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="28" />
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:allowBackup="false" />
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-admobpro" spec="^2.49.0">
        <variable name="ADMOB_APP_ID" value="ca-app-pub-8300135360648716/8651556341" />
        <variable name="PLAY_SERVICES_VERSION" value="16.0.0" />
    </plugin>
    <plugin name="cordova-plugin-nativestorage" spec="~2.3.2" />
    <plugin name="cordova-plugin-app-version" spec="~0.1.9" />
    <plugin name="cordova-plugin-datecs-printer" spec="~0.10.0" />
    <plugin name="cordova-plugin-device" spec="~2.0.3" />
    <plugin name="cordova-plugin-dialogs" spec="~2.0.2" />
    <plugin name="es6-promise-plugin" spec="^4.2.2" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />
    <plugin name="cordova-plugin-screen-orientation" spec="~3.0.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3.1.0" />
    <plugin name="com.darktalker.cordova.screenshot" spec="~0.1.6" />
    <plugin name="cordova-plugin-file" spec="~6.0.2" />
</widget>
